@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Bitter", sans-serif;
  color: "#2F2F2F";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes scaleAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  animation: scaleAnimation 0.3s ease-in-out forwards;
}
